@charset "UTF-8";
/* CSS Document */


html {
}


body {
	margin: 0;
	padding: 0;
    background-color: #160d1b;
	width: 100%;
	
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
	
	color: #fff;
    overflow-x: hidden;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
}


canvas {
    display: block;
    width: 100%;
    height: 100%;
}

#canvasRow {
}

#cnvs {
    width: 100%;
    height: 100%;
}

#content {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

#head {
    font-family: 'Quicksand', sans-serif;
    font-size: 150px;
    font-weight: 300;
    text-align: center;
    position:absolute;
    top: 36%;
    width: 100%;
    text-transform: uppercase;
}

#intro {
    font-size: 30px;
    line-height: 44px;
    font-weight: 300;
}

#description {
}

#attr {
    display: block;
    font-size: 22px;
    line-height: 32px;
    margin: 30px 0 0 -17px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
}

.italic {
    font-size: 19px;
    line-height: 32px;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
}

.row {
    position: relative;
    width: 100%;
}

.label {
    font-size: 16px;
    line-height: 32px;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
}

.list {
    line-height: 36px;
    width: 100%;
}

.block {
    display: inline-block;
    vertical-align: top;
}

.single {
    width: 30%;
}

.double {
    width: 65%;
}

.margin {
    margin-right: 5%;
}

.list .single {
    min-width: 285px;
    margin-top: 32px;
    padding-top: 36px;
    border-top: 2px dashed #620973;
}

.listItem {
    width: 100%;
    position: relative;
}

.listDouble {
    line-height: 30px !important;
    margin-bottom: 16px;
    max-width: 90%;
}

.listNo {
    position: absolute;
    top: 3px;
    left: -22px;
    color: #620973;
    font-size: 13px;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
}

.bar {
    width: 14%;
    height: 5px;
    background-color: #ffffff;
    display: inline-block;
    vertical-align: top;
    margin: 36px 0 140px 0;
}

#intro .bar {
    width: 21.4%;
    display: block;
}

.shortBar {
}

.button {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 5px solid #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 66px;
    font-size: 21px;
    -webkit-transition: border 0.4s;
    transition: border 0.4s;
}

.button:hover {
    cursor: pointer;
    border: 5px solid #620973;
}

.hover {
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
}

.hover:hover {
    color: #e4647f;
}

.btnSub {
    margin-top: 22px;
    font-size: 19px;
    line-height: 33px;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
}

.volumeWrap {
    margin-bottom: 140px;

    border-top: 5px solid #e4647f;
    border-bottom: 5px solid #620973;
    /*border-top: 2px dashed #620973;
    border-bottom: 2px dashed #620973;*/
    /*border-top: 2px dashed #e4647f;
    border-bottom: 2px dashed #e4647f;*/
}

.volumeInner {

    text-align: center;
    padding: 36px 0 36px 0;
}

.topGrad {
    /*background: #e4647f;*/
    /*background: -webkit-linear-gradient(left, #e4647f, #620973);
    background: -o-linear-gradient(right, #e4647f, #620973);
    background: -moz-linear-gradient(right, #e4647f, #620973);
    background: linear-gradient(to right, #e4647f, #620973);*/
}

.btmGrad {
    /*background: #620973;*/
    /*background: -webkit-linear-gradient(left, #620973, #310439);
    background: -o-linear-gradient(right, #620973, #310439);
    background: -moz-linear-gradient(right, #620973, #310439);
    background: linear-gradient(to right, #620973, #310439);*/
}

.strip {
    width: 100%;
    height: 2px;
}

.volume {
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.volTitle {
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.volDesc {
    font-size: 19px;
    line-height: 33px;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
}

.volSub {
    font-size: 16px;
    line-height: 32px;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    margin-top: 16px;
    display: none;
}

.stripes {
    background-image: url("img/stripe.svg");
    background-repeat: repeat;
}

.stripe {
    width: 100%;
    height: 5px;
    background-image: url("img/stripe.svg");
    background-repeat: repeat;
}

#share {
    width: 100%;
    text-align: left;
    margin-bottom: 22px;
}

.shareBtn {
    line-height: 32px;
    font-size: 22px;
}

.vertDiv {
    display: inline-block;
    margin: 0 16px 0 16px;
    width: 2px;
    height: 32px;
    background-color: #620973;
}

.nonProf {
    border-right: 2px solid #620973;
    height: 32px;
    padding-right: 22px;
    margin-right: 16px;
}

.nonProfits {
    margin-top: 16px;
    /*padding-top: 36px;
    border-top: 2px dashed #620973;*/
    line-height: 44px;
    width: 100%;
}

#fb {

}

#twitter {

}

#footer {
    width: 100%;
    text-align: right;
    margin-bottom: 22px;
    font-size: 16px;
    line-height: 32px;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
}


*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}



/* MEDIA BREAK POINTS */
@media (max-width:1250px){
    #content {
        width: 90%;
    }
}
@media (max-width:1000px){
    .double {
        width: 100%;
    }
    #order {
        margin-top: 100px;
        min-width: 285px;
    }
}
@media (max-width:600px){
    #content {
        width: 85%;
    }
    .single {
        width: 100%;
    }
    .shareBtn {
        font-size: 18px;
    }
    .bar {
        width: 33%;
    }
}